<!DOCTYPE html>
<html>
<head>
  <title>E-Commerce On Rails</title>
  <%= stylesheet_link_tag "application",:media => 'all' %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vary simple cart in ruby on rails">
  <meta name="author" content="Denis Sellu">
</head>
<body>
    <%= render(:partial => 'layouts/navigation') %>
<%= render_breadcrumbs %>
<%= yield %>
<a href="" src></a>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
